<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inspektorat Daerah Provinsi Kalimantan Selatan</title>

  <!-- css -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/nivo-lightbox.css" rel="stylesheet" />
  <link href="css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
  <link href="css/animations.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet">
  <link href="color/default.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

  <section class="hero" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right navicon">
          <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <div class="animatedParent">
          	<img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Lambang_Provinsi_Kalimantan_Selatan.gif" class="animated fadeInDown">
            <h1 class="animated fadeInLeft slow">INSPEKTORAT</h1>
            <p class="animated fadeInRight slow">Daerah Provinsi Kalimantan Selatan</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <a href="#about" class="learn-more-btn btn-scroll">Learn more</a>
		</div>
      </div>
    </div>
  </section>


  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="site-logo">
              <a href="index.html" class="brand"><img src="img/logo.png" style="width: 100%; height:60px; " alt=""></a>
            </div>
          </div>


          <div class="col-md-10">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#about">Tentang</a></li>
                <li><a href="#service">Visi&Misi</a></li>
<!--                 <li><a href="#works">Works</a></li>
 -->
                <li><a href="#contact">Alamat</a></li>
              </ul>
            </div>
            <!-- /.Navbar-collapse -->

          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->

  <!-- Section: about -->
  <section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="animatedParent">
            <div class="section-heading text-center animated bounceInDown">
              <h2 class="h-bold">Tentang Inspektorat Daerah Kalimantan Selatan</h2>
              <div class="divider-header"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">


      <div class="row">



    <div class="text-center">
      <div class="container">

        <div class="row animatedParent">
          <div class="col-md-8">
            <div class="animated rotateInDownLeft">
              <div class="service-box">
                <div class="service-desc">
                  <h5>Struktur Organisasi</h5>
                  <div class="divider-header"></div>
          	<img src="img/organisasi.png" width="50%" height="50%">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="animated rotateInDownRight slow">
              <div class="service-box">
                <div class="service-desc">
                  <h5>Tentang</h5>
                  <div class="divider-header"></div>
                  <p>
					Inspektorat Provinsi Daerah Kalimantan Selatan merupakan lembaga/entitas aparat pengawas fungsional berada di bawah dan bertanggung jawab kepada Gubernur Kalimantan Selatan, dan bertugas melakukan pengawasan terhadap pelaksanaan urusan pemerintahan di daerah provinsi, pelaksanaan pembinaan atas penyelenggaraan pemerintahan kabupaten/kota dan pelaksanaan urusan pemerintahan di daerah Kabupaten/Kota.
                  </p>
                </div>
              </div>
            </div>
          </div>


      </div>
    </div>

  </section>
  <!-- /Section: about -->


  <!-- Section: services -->
  <section id="service" class="home-section color-dark bg-gray">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div>
            <div class="section-heading text-center">
              <h2 class="h-bold">tujuan & sasaran visi & misi</h2>
              <div class="divider-header"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <div class="container">

        <div class="row animatedParent">
          <div class="col-md-4">
            <div class="animated rotateInDownLeft slow">
              <div class="service-box">
                <div class="service-icon">
                  <span class="fa fa-crosshairs fa-2x"></span>
                </div>
                <div class="service-desc">
                  <h5>Tujuan & Sasaran</h5>
                  <div class="divider-header"></div>
                  <p>
                    Meningkatkan Peran Pembinaan dan Pengawasan Dalam Penyelenggaraan Pemerintahan daerah Provinsi Kalimantan Selatan
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="animated rotateInDownLeft slower">
              <div class="service-box">
                <div class="service-icon">
                  <span class="fa fa-group fa-2x"></span>
                </div>
                <div class="service-desc">
                  <h5>Visi</h5>
                  <div class="divider-header"></div>
                  <p>
                    Mewujudkan Peranan Pembinaan Dan Pengawasan Untuk Tata Kelola Pemerintahan Yang Baik.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="animated rotateInDownLeft slower">
              <div class="service-box">
                <div class="service-icon">
                  <span class="fa fa-bookmark fa-2x"></span>
                </div>
                <div class="service-desc">
                  <h5>Misi</h5>
                  <div class="divider-header"></div>
                  <p>
					Kalsel Mapan (Mandiri dan Terdepan) Lebih Sejahtera, Berkeadilan, Mandiri Dan Berdaya Saing.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: services -->


  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="animatedParent">
            <div class="section-heading text-center">
              <h2 class="h-bold animated bounceInDown">Alamat Inspektorat Daerah Kalimantan Selatan</h2>
              <div class="divider-header"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">

      <div class="row marginbot-80">
        <div class="col-md-8 col-md-offset-2">
					<p>Komplek Perkantoran Pemprov.Kalsel Jl.Banjar Besar Kode pos 70733 BANJARBARU</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63721.50220455173!2d114.82454872102313!3d-3.4484862172593598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2de68147bd38567d%3A0xba9b89752de254ae!2sInspektorat+Kota+Banjarbaru!5e0!3m2!1sen!2sid!4v1511351323333" width="100%" height="270px" frameborder="0" style="border:0" allowfullscreen ></iframe>
        </div>
      </div>


    </div>
  </section>
  <!-- /Section: contact -->


  <footer>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center inner">
              <p>Copyright © 2017 Inspektorat Daerah Provinsi Kalimantan Selatan. All rights reserved.</p>
    </div>
  </footer>

  <!-- Core JavaScript Files -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/stellar.js"></script>
  <script src="js/nivo-lightbox.min.js"></script>

  <script src="js/custom.js"></script>
  <script src="js/css3-animate-it.js"></script>
  <script src="contactform/contactform.js"></script>

</body>
</html>
